<div class="container mt-5">
  <div class="row">
    <!-- <div class="col-md-5"> -->
      <div class="card h-100">
        <div class="card-header bg-secondary text-white">
          Customer Registration Page(Reactive Approach)
        </div>
        <div class="card-body">
          <form [formGroup]="customerForm" 
          (ngSubmit)="evtSubmit()" >
            <div class="mb-3 row">
              <label for="" class="col-sm-3 col-form-label">Name *</label>
              <div class="col-sm-9">
                <input
                  name="CustomerName"
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Enter your name"
                  formControlName = "CustomerName"
                />
              </div>

              <!-- [formControlName] = "'CustomerName'" -->
              
             <small
               *ngIf="customerForm.get('CustomerName')?.touched 
               && customerForm.get('CustomerName')?.errors?.['required']"
                style="color:red">Please Enter your Name</small>
              
              
                 <small *ngIf="customerForm.get('CustomerName')?.touched && customerForm.get('CustomerName')?.errors?.['minlength']" style="color:red">Please enter atleast 5 charcters</small>
            </div>
            <!-- required -->
            <div class="mb-3 row">
              <label for="email" class="col-sm-3 col-form-label">Email *</label>
              <div class="col-sm-9">
                <input
                  name="CustomerEmail"
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Enter your email"
                  formControlName = "CustomerEmail"
                />
              </div>

              <small *ngIf="customerForm.get('CustomerEmail')?.touched && customerForm.get('CustomerEmail')?.errors?.['required']" style="color:red">Please Enter your Email</small>

              <small *ngIf="customerForm.get('CustomerEmail')?.touched 
              && customerForm.get('CustomerEmail')?.errors?.['email']" style="color:red">Your email format is wrong . Please use email domain only</small>

              <!-- <small  *ngIf="locCustomerEmail.touched && " style="color:red">  </small>  -->
            </div>

            <div class="mb-3 row">
              <label for="email" class="col-sm-3 col-form-label">State *</label>
              <div class="col-sm-9">
                <select class="form-control" name="StateName" 
                 formControlName = "CustomerState">
                  <option value="" disabled selected>Please Select</option>
                  <option value="1">Delhi</option>
                  <option value="2">Karnataka</option>
                  <option value="3">TamilNadu</option>
                  <option value="4">Hyderabad</option>
                  <option value="5">Other State</option>
                </select>
              </div>
              <small style="color:red" 
              *ngIf="customerForm.get('CustomerState')?.touched && 
              customerForm.get('CustomerState')?.invalid">
              Please enter state Name</small>
            </div>

            <div class="mb-3">
              <button type="submit" [disabled]="customerForm.invalid" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
